<?xml version="1.0" encoding="UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<?page title="RSS агрегатор"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
    <hlayout viewModel="@id('vm')@init('org.tochka.MainVM')" hflex="1" vflex="1">
        <vlayout hflex="1" vflex="1">
            <button label="+" onClick="@command('newFeed')"/>
            <listbox model="@load(vm.feeds)" hflex="1" height="200px" emptyMessage="no feeds found..."
                     selectedItem="@bind(vm.selectedFeed)">
                <listhead>
                    <listheader label="Title"/>
                    <listheader label="URL"/>
                </listhead>
                <template name="model" var="feed">
                    <listitem>
                        <listcell label="@init(feed.title)"/>
                        <listcell label="@init(feed.uri)"/>
                    </listitem>
                </template>
            </listbox>
            <grid hflex="1" vflex="1" visible="@load(not empty vm.selectedFeed)">
                <columns>
                    <column width="120px"/>
                    <column/>
                </columns>
                <rows>
                    <row>
                        <label value="RSS URL"/>
                        <textbox hflex="1" value="@bind(vm.selectedFeed.uri)"/>
                    </row>
                    <row>
                        <label value="Description"/>
                        <label value="@bind(vm.selectedFeed.description)"/>
                    </row>
                    <row spans="2">
                        <vlayout hflex="1">
                            <label value="Parsing rules"/>
                            <textbox value="@bind(vm.selectedFeed.parsingTemplate)" rows="8" hflex="1"/>
                        </vlayout>
                    </row>
                </rows>
                <foot>
                    <footer span="2">
                        <hlayout>
                            <button label="download default rules" onClick="@command('downloadDefaultRules')"/>
                            <button label="upload rules" onUpload="@command('uploadRules', event=event)"
                                    upload="true, maxsize=-1"/>
                            <div hflex="1"/>
                            <button label="Save" onClick="@command('saveFeed')"/>
                            <button label="Fetch" onClick="@command('fetchSelected')"/>
                        </hlayout>
                    </footer>
                </foot>
            </grid>
        </vlayout>
        <listbox vflex="1" hflex="1" emptyMessage="no messages found..."
                 model="@load(vm.messages)"
                 selectedItem="@bind(vm.selectedMessage)"
                 autopaging="true" mold="paging">
            <auxhead>
                <auxheader colspan="2">
                    <hlayout>
                        <textbox value="@bind(vm.searchPattern)" hflex="1" onOK="@command('doSearch')"/>
                        <button label="Do search" onClick="@command('doSearch')"/>
                    </hlayout>
                </auxheader>
            </auxhead>
            <listhead>
                <listheader label="Title"/>
                <listheader label="Publication date"/>
            </listhead>
            <template name="model" var="msg">
                <listitem>
                    <listcell label="@init(msg.title)"/>
                    <listcell label="@init(msg.pubDate)@converter('formattedDate', format='dd.MM.yyyy HH:mm')"/>
                </listitem>
            </template>
        </listbox>
        <label hflex="1" value="@load(vm.selectedMessage.description)"/>
    </hlayout>
</zk>